@import './styles/theme.css';

:root {
  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-text-main);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--color-background) 0%, var(--color-primary-light) 100%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}